<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CRM_Connect.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CRM_Connect.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="C1ApplicationTheme" value="VS2013Light" />
    <add key="C1ApplicationThemeSettings" />
  </appSettings>
  <connectionStrings>
    <add name="edmCRM" connectionString="data source=vy-sql01.har.hpc.local\SQL;initial catalog=CRM_Prins;persist security info=True;user id=CRM-Connector;password=B3chtle;MultipleActiveResultSets=True;App=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="CRM_Connect.My.MySettings.PRINSConnectionString" connectionString="character set=UNICODE_FSS;data source=vy-har-db2.hpc.local;initial catalog=D:\Pfw\Datenbank\Aktuell\PrinsDE.FB3;user id=SYSDBA;password=masterkey"
      providerName="FirebirdSql.Data.FirebirdClient" />
    <add name="CRM_Connect.My.MySettings.CRM_PrinsConnectionString"
      connectionString="Data Source=vy-sql01.har.hpc.local\SQL;Initial Catalog=CRM_Prins;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CRM_Connect.My.MySettings.ConnectionString" connectionString="character set=UNICODE_FSS;data source=localhost;initial catalog=E:\Pfw\Database\PRINS3DE.FB3;user id=SYSDBA;password=masterkey"
      providerName="FirebirdSql.Data.FirebirdClient" />
    <add name="CRM_Connect.My.MySettings.RefirmConnectionString"
      connectionString="Data Source=VY-SOE-SQL1\SQLEXPRESS;Initial Catalog=Refirm;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CRM_Connect.My.MySettings.PrinsReConnectionString"
      connectionString="character set=UNICODE_FSS;data source=vy-har-db2.hpc.local;initial catalog=D:\Pfw\Datenbank\Aktuell\PrinsDE.FB3;user id=SYSDBA;password=masterkey"
      providerName="FirebirdSql.Data.FirebirdClient" />
    <add name="CRM_Connect.My.MySettings.PrinsDEConnection" connectionString="character set=UNICODE_FSS;data source=vy-har-db2.hpc.local;initial catalog=D:\Pfw\Datenbank\Aktuell\PrinsDE.FB3;user id=SYSDBA;password=masterkey" />
    <add name="CRM_Connect.My.MySettings.PrinsATConnection" connectionString="character set=ISO8859_1;data source=VY-HAR-DB1.hpc.local;initial catalog=d:\Pfw\Database\Aktuell\PrinsAT.fb;user id=SYSDBA;password=masterkey" />
    <add name="CRM_Connect.My.MySettings.PrinsESConnection" connectionString="character set=ISO8859_1;data source=&quot; db2.har.hpc.local&quot;;initial catalog=d:\Pfw\Database\Aktuell\PrinsES.fb;user id=SYSDBA;password=masterkey" />
    <add name="CRM_Connect.My.MySettings.PrinsITConnection" connectionString="character set=ISO8859_1;data source=&quot;db2.har.hpc.local&quot;;initial catalog=d:\Pfw\Database\Aktuell\PrinsIT.fb;user id=SYSDBA;password=masterkey" />
    <add name="CRM_Connect.My.MySettings.PrinsINTConnection" connectionString="character set=ISO8859_1;data source=&quot;db2.har.hpc.local&quot;;initial catalog=d:\Pfw\Database\Aktuell\PrinsINT.fb;user id=SYSDBA;password=masterkey" />
    <add name="CRM_Connect.My.MySettings.PrinsFRConnection" connectionString="character set=ISO8859_1;data source=&quot;db2.har.hpc.local&quot;;initial catalog=d:\Pfw\Database\Aktuell\PrinsFR.fb;user id=SYSDBA;password=masterkey" />
    <add name="CRM_Connect.My.MySettings.PrinsCentralConnection"
      connectionString="character set=ISO8859_1;data source=vy-har-db2.hpc.local;initial catalog=d:\Pfw\Datenbank\Aktuell\Prins3Central.fdb;user id=SYSDBA;password=masterkey"
      providerName="FirebirdSql.Data.FirebirdClient" />
    <add name="CRM_Connect.My.MySettings.ConnectionString1" connectionString="character set=UNICODE_FSS;data source=vy-har-db2.hpc.local;initial catalog=d:\Pfw\Datenbank\Aktuell\PrinsDE.FB3;server type=0;user id=SYSDBA;password=masterkey"
      providerName="FirebirdSql.Data.FirebirdClient" />
    <add name="CRM_Connect.My.MySettings.HPCReweSKR04ConnectionString"
      connectionString="Data Source=vy-sql01.har.hpc.local\SAGE;Initial Catalog=HPCReweSKR04;Persist Security Info=True;User ID=sa;Password=Pappnase2o13"
      providerName="System.Data.SqlClient" />
    <add name="CRM_Connect.My.MySettings.ConnectionString2" connectionString="character set=UNICODE_FSS;initial catalog=C:\Pfw\Database\PRINS3DE.FB3;data source=PC-STR10A;user id=SYSDBA;password=masterkey"
      providerName="FirebirdSql.Data.FirebirdClient" />
    <add name="CRM_Connect.My.MySettings.ConnectionString3" connectionString="character set=UNICODE_FSS;data source=localhost;initial catalog=E:\Pfw\Database\PRINS3DE.FB3;user id=SYSDBA;password=masterkey"
      providerName="FirebirdSql.Data.FirebirdClient" />
    <add name="CRM_Connect.My.MySettings.SQLDataLakeConnectionString"
      connectionString="Data Source=tcp:hpcsqlserversdatalake.database.windows.net,1433;Initial Catalog=SQLDataLake;Persist Security Info=True;User ID=admhpcsql;Password=ZrB:4RyxLGlk"
      providerName="System.Data.SqlClient" />
    <add name="CRM_Connect.My.MySettings.Archiv1ConnectionString"
      connectionString="Data Source=vy-har-sql2.eu.hpc.local\ELO;Initial Catalog=Archiv1;Persist Security Info=True;User ID=elodb;Password=uE9t8zaJvr"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <CRM_Connect.My.MySettings>
      <setting name="frmMain_ActiveUserControlIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="frmMain_WindowState" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="frmMain_Top" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="frmMain_Left" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="frmMain_Width" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="frmMain_Height" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="LastExcelLoadPath" serializeAs="String">
        <value />
      </setting>
      <setting name="btnAutoExecPressed" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ProjectScript" serializeAs="String">
        <value>-executionPolicy bypass -file C:\Install\Scripts\HPC-Projects\HPCAG\HPCProject_fromPrins.ps1 -Servername ":HOMESERVER" -ProjectNumber ":PRJ_NUMMER" -Projectname ":PRJ_NAME1" -Members ":Members" -Year ":Year"</value>
      </setting>
      <setting name="PrjFolderAutoStart" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="fgMessagesCounter" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AzureBusServiceAutoStart" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AppMailbox" serializeAs="String">
        <value />
      </setting>
      <setting name="AppMailFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="AppMailSession" serializeAs="String">
        <value />
      </setting>
      <setting name="ADUserExistsTemplateName" serializeAs="String">
        <value />
      </setting>
    </CRM_Connect.My.MySettings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.19.8.16603" newVersion="3.19.8.16603" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory.Platform" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.19.8.16603" newVersion="3.19.8.16603" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.7.1.0" newVersion="6.7.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.7.1.0" newVersion="6.7.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.4.0.0" newVersion="5.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.JsonWebTokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.4.0.0" newVersion="5.4.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <CRM_Connect.My.MySettings>
      <setting name="ARMAuthData" serializeAs="String">
        <value>/Session/login?username=PRINS-CONNECTOR&amp;domain=hpc.local&amp;password=%C2%A7nt2rf!ce.., </value>
      </setting>
      <setting name="ARMBaseAddress" serializeAs="String">
        <value>https://vy-har-8man-srv.eu.hpc.local</value>
      </setting>
      <setting name="ESTGroupScript" serializeAs="String">
        <value>-executionPolicy bypass -file "C:\Install\Scripts\HPC-Projects\HPCAG\HPCESTgroup_fromPrins.ps1" -Groupname ":Groupname" -Members ":Members"</value>
      </setting>
    </CRM_Connect.My.MySettings>
  </applicationSettings>
</configuration>
